---
http_interactions:
- request:
    method: get
    uri: https://api.are.na/v2/channels/delightfully-absurd
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"2b51c590ed4e9c37b04eb81a799ed21c"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":136855,"title":"Delightfully absurd","created_at":"2018-01-29T06:14:46.668Z","updated_at":"2018-03-28T23:48:21.508Z","added_to_at":"2018-03-28T23:48:21.508Z","published":true,"open":false,"collaboration":false,"collaborator_count":0,"slug":"delightfully-absurd","length":21,"kind":"default","status":"closed","user_id":29642,"manifest":{"key":"uploads/:uuid/${filename}","AWSAccessKeyId":"AKIAJCYY3HQ47NR5LQJA","bucket":"https://s3.amazonaws.com/arena_images-temp/","success_action_status":"201","policy":"eydleHBpcmF0aW9uJzogJzIwMTgtMDYtMTBUMTU6NTg6NDUuMDAwWicsCiAgICAgICAgJ2NvbmRpdGlvbnMnOiBbCiAgICAgICAgICB7J2J1Y2tldCc6ICdhcmVuYV9pbWFnZXMtdGVtcCd9LAogICAgICAgICAgWydzdGFydHMtd2l0aCcsICcka2V5JywgJyddLAogICAgICAgICAgeydhY2wnOiAncHVibGljLXJlYWQnfSwKICAgICAgICAgIHsnc3VjY2Vzc19hY3Rpb25fc3RhdHVzJzogJzIwMSd9LAogICAgICAgICAgWydjb250ZW50LWxlbmd0aC1yYW5nZScsIDAsIDEwNDg1NzYwMF0sCiAgICAgICAgICBbJ3N0YXJ0cy13aXRoJywnJENvbnRlbnQtVHlwZScsJyddCiAgICAgICAgXQogICAgfQ==","acl":"public-read","signature":"tCly0EDezYfrVi+ogforiMWcy8k=","expires":"2018-06-10T15:58:45.000Z"},"contents":[{"id":1645260,"title":"tumblr_nqij4lGZqg1qz6f9yo1_540.jpg","updated_at":"2018-01-29T06:14:48.636Z","created_at":"2018-01-25T03:19:41.504Z","state":"available","comment_count":0,"generated_title":"tumblr_nqij4lGZqg1qz6f9yo1_540.jpg","content_html":null,"description_html":null,"visibility":"public","content":null,"description":null,"source":null,"image":{"filename":"277cb897e8ed3d18523cad41a59413be.jpg","content_type":"image/jpeg","updated_at":"2018-01-25T03:19:44.943Z","thumb":{"url":"https://d2w9rnfcy7mm78.cloudfront.net/1645260/thumb_277cb897e8ed3d18523cad41a59413be.jpg"},"square":{"url":"https://d2w9rnfcy7mm78.cloudfront.net/1645260/square_277cb897e8ed3d18523cad41a59413be.jpg"},"display":{"url":"https://d2w9rnfcy7mm78.cloudfront.net/1645260/display_277cb897e8ed3d18523cad41a59413be.jpg"},"large":{"url":"https://d2w9rnfcy7mm78.cloudfront.net/1645260/large_277cb897e8ed3d18523cad41a59413be.jpg"},"original":{"url":"https://d2w9rnfcy7mm78.cloudfront.net/1645260/original_277cb897e8ed3d18523cad41a59413be.jpg","file_size":183811,"file_size_display":"180
        KB"}},"embed":null,"attachment":null,"metadata":null,"base_class":"Block","class":"Image","user":{"id":29642,"created_at":"2018-01-24T01:39:11.568Z","slug":"tess-french","username":"Tess
        French","first_name":"Tess","last_name":"French","full_name":"Tess French","avatar":"https://gravatar.com/avatar/ff2006ef5406851c59bf46fcd2950055.png?s=40&d=mm&r=R&d=blank","avatar_image":{"thumb":"https://gravatar.com/avatar/ff2006ef5406851c59bf46fcd2950055.png?s=40&d=mm&r=R&d=blank","display":"https://gravatar.com/avatar/ff2006ef5406851c59bf46fcd2950055.png?s=150&d=mm&r=R&d=blank"},"channel_count":40,"following_count":0,"profile_id":132224,"follower_count":1,"initials":"TF","can_index":true,"metadata":null,"is_premium":false,"is_exceeding_private_connections_limit":false,"is_confirmed":true,"is_pending_reconfirmation":false,"is_pending_confirmation":false,"badge":null,"base_class":"User","class":"User"},"position":1,"selected":false,"connection_id":2052578,"connected_at":"2018-01-29T06:14:48.478Z","connected_by_user_id":29642,"connected_by_username":"Tess
        French","connected_by_user_slug":"tess-french"},{"id":1645263,"title":"UGNS.jpeg","updated_at":"2018-02-28T20:33:56.004Z","created_at":"2018-01-25T03:19:52.815Z","state":"available","comment_count":0,"generated_title":"UGNS.jpeg","content_html":null,"description_html":null,"visibility":"public","content":null,"description":null,"source":null,"image":{"filename":"c65400135558995fe65b708d56aec140.jpeg","content_type":"image/jpeg","updated_at":"2018-01-25T03:19:55.698Z","thumb":{"url":"https://d2w9rnfcy7mm78.cloudfront.net/1645263[...]
